@import "tailwindcss";
 @plugin "daisyui" {
   themes: m0ves;
 }

@plugin "daisyui/theme" {
  name: "m0ves";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.019 200.873);
  --color-base-200: oklch(95% 0.045 203.388);
  --color-base-300: oklch(91% 0.08 205.041);
  --color-base-content: oklch(39% 0.07 227.392);
  --color-primary: oklch(80% 0.105 251.813);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(87% 0.169 91.605);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(39% 0.07 227.392);
  --color-neutral-content: oklch(98% 0.019 200.873);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@theme {
  --animate-fade-in: fadeIn 2s;
  @keyframes fadeIn {
    from {
      opacity: 0;
      top: 100%;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }
}
.animate-fadeIn {
  animation-fill-mode: forwards;
}

